@model EmployeeViewModel

@{
    ViewData["Title"] = "Details";
}

<h2 style="text-decoration:underline ; margin-top:3% ">Employeer Details</h2>

<div class="mt-3">

    <dl class="row">
        <dt class = "col-sm-2">Name</dt>
       
        <dd class = "col-sm-10">@Model.Name</dd>

        <dt class = "col-sm-2">Address</dt>
        <dd class = "col-sm-10">@Model.Address </dd>

        <dt class = "col-sm-2"> Age</dt>
        <dd class = "col-sm-10">@Model.Age</dd>

        <dt class = "col-sm-2"> Salary</dt>
        <dd class = "col-sm-10">@Model.Salary </dd>

        <dt class = "col-sm-2">IsActive</dt>
        <dd class = "col-sm-10">

            <input type="checkbox" disabled='disabled' @(Model.IsActive?"checked":"")/>
        </dd>

        <dt class = "col-sm-2">Email</dt>
        <dd class = "col-sm-10">@Model.Email</dd>

        <dt class = "col-sm-2"> PhoneNumber</dt>
        <dd class = "col-sm-10">@Model.PhoneNumber </dd>

        <dt class = "col-sm-2">HireDate</dt>
        <dd class = "col-sm-10">@Model.HireDate.ToShortDateString()</dd>

        <dt class = "col-sm-2">Department </dt>
        <dd class = "col-sm-10">@Model.Department.Name</dd>
    </dl>
</div>
<div>
    <a asp-action="Update" asp-route-id="@Model.Id" class="btn btn-success">Edit</a>
    <a asp-action="Index" class="btn btn-dark">Back To Employees List</a>
</div>
